.club {
  &__card {
    //https://codepen.io/dudleystorey/pen/yqrhw?editors=1100
    padding: 1rem;
    //box-shadow: 0 1rem 3rem rgba(#111, .1);
    display: inline-block;
    margin: 1.5rem 1rem;
    border-radius: 1.6rem;
    color: $color-grey-dark-2;
    background-color: #fff;

    p {
      font-size: 1.2rem;
      font-weight: 400;
      color: inherit;

    }

    &__split {
      display:grid;
      grid-template-columns: max-content max-content;
      justify-content: space-between;
    }

    &__circle-section {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      justify-content: space-between;
    }

    &__circle {
      padding-top: 1.2rem;
      border: 2px solid $color-grey-dark-2;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 2.3rem !important;
      font-weight: 700;
      margin: .5rem 0;

      &__group {
        text-align: center;
      }
    }


    &__container {
      columns: auto 25rem;
      margin: 2rem 0;

    }

     &__title h2{
       font-size: 1.8rem;
     }

     &__section {
       border-bottom: 1px solid $color-grey-dark-1;
       padding-bottom: .6rem;
       margin-bottom: .6rem;
     }

     &__subheading {

     }

     &__photo {
       width: 100%;
       margin: .6rem 0;
       object-fit: cover;
       height: 15rem;
     }

     &__booking {
       background-color: $color-secondary;
       padding: .6rem 1.5rem;
       border-radius: 15rem;
       color: #fff;
       font-weight: 500;
       text-align: center;
       margin: 1rem 0;
     }
  }
}
