.table__timetable {
  margin: 8rem 0;

  &__tabs {
    font-size: 2rem;
    text-transform: uppercase;


    &__current {
      color: #fff;
      padding: 1rem;
      border-radius: 1rem 1rem 0 0;

    }
    &__other {
      padding: 1rem;
      border-radius: 1rem 1rem 0 0;
      background-color: $color-grey-dark-1;

      &:hover {

        background-color: $color-secondary;
      }

      a {
        display: block;
      }
    }
  }

  tr,
  tr:nth-child(even) {

    &:hover {
      background-color: $color-grey-light-1;
    }
  }

  td {
    vertical-align: top;
    background-color: #fff;
  }

  h4 {
    color: $color-grey-dark-3;
  }

  &__card {
    padding: .5rem;
    border: 1px solid $color-grey-dark-1;
    background-color: #fff;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      border: 2px solid $color-grey-dark-1;
    }
  }


  .table__header {
    text-align: center;


    &:first-child {
      max-width: 2rem;
    }

    &--side {
      border-radius: 0 1rem 1rem 0;
      background-color: $color-secondary;
      text-transform: uppercase;
    }

    &--empty {
      background-color: $color-grey-light-2;
    }
  }

  p {
    font-size: inherit;
  }

  &__times {
    text-align: center;

    //padding-right: .7rem;
    margin-right: .7rem;
    align-self: center;
  }

  &__main-content {
    padding-left: .7rem;
    border-left: 2px solid $color-secondary;
  }

  &__split {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: flex-end;
  }

  &__places {
    background-color: $color-grey-dark-2;
    color: #fff;
    font-weight: 400;
    border-radius: 1rem;
    padding: .2rem .7rem;
    margin: .5rem;
    margin-left: 0;
  }

  &__cost {
    padding-bottom: .4rem;
  }
}
