.btn {


  &,
  &:link,
  &:visited {
    background-color: $color-primary-dark;
    border: none;
    border-radius: 0.3rem;
    color: $color-light;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover {
    font-weight: 700;
  }

  &--outline {
    @extend .btn;
    background-color: inherit;
    border: 1px solid $color-primary-dark;
    color: $color-primary-dark;
    padding: 1rem;
  }
  &--disabled {
    @extend .btn;
    background-color: $color-grey-light-2;
    color: $color-grey-dark-1;
  }

  &--fullwidth {
    @extend .btn;
    width: 100%;
  }

  &--delete {
    @extend .btn;
    background-color: inherit;
    border: solid 1px orangered;
    color: orangered;
    font-size: 1rem;
    padding: .3rem 1.1rem;



    &:hover {
      background-color: orangered;
      color: white;
      font-weight: 500;
      padding: .2rem .8rem;
    }
  }

  &--right {
    width: auto !important;
    float: right;
  }



  &--back {
    @extend .btn;
    background-color: inherit;
    border: solid 1px $color-primary-dark;
    color: $color-primary-dark;

    &:hover {
      border:solid 2px;
      padding: .9rem 1.9rem;
    }
  }

  &--col-input {
    @extend .btn;
    border-radius: 0 .3rem .3rem 0;
    background-color: $color-grey-dark-2;
    margin-top: 0;
    padding: .9rem 2rem;
    //height: 3rem;
  }
}

.link {
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: solid 1px;
  //padding-bottom: .2rem;

  &:hover {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-small {

  }
}
