.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.form {
  background-color: $color-light;
  padding: 2rem 2rem 3rem 2rem;
  z-index: -10;

  // LABELS
  &__label {
    color: $color-grey-dark-3;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin: .7rem 0 0rem .2rem;

    &--nomargin {
      @extend .form__label;
      margin-top: 0;
    }
  }

  // INPUT (STANDARD)
  &__input {
    border: none;
    border-radius: 0.2rem;
    color: $color-grey-dark-3;
    font-family: $font-primary;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 100%;


    &::placeholder {
      color: $color-grey-dark-1;
    }

    &--pound {
      position: relative;

      &:before {
        position: absolute;
        top: -.5rem;
        content: "£";
        left: .6rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-grey-dark-3;
      }
      // input field inside the --pound div
      input {
        padding-left: 1.8rem;
      }
    }

    &--number {
      @extend .form__input;
      width: 4rem;
    }
  }

  // TEXTAREA
  &__textarea {
    border: none;
    font-family: inherit;
    height: 10rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    width: 100%;

    &::placeholder {
      color: $color-grey-dark-1;
      font-family: $font-primary;
    }
  }

  // DATE AND TIME
  &__date-and-time {
    @extend .form__input;
    padding: 1rem 0 1rem 1rem;
    width: 14rem;
    font-size: 1.3rem;
    color: $color-grey-dark-1; // why aren't they all???


    &:in-range {
      color: $color-grey-dark-2;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  // COLOUR INPUT
  &__color-input {
    border: none;
    height: 3.8rem;
  }

  // DROPDOWN FIELD
  &__dropdown {
  width: 15rem;
  padding: .5rem 3.5rem .5rem .5rem;
  font-size: 1.5rem;
  border: 1px solid $color-grey-dark-2;
  height: 3.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../img/svg/chevron-down-outline.svg") 96% / 2rem no-repeat #fff;

  &:hover {
    font-weight: 500;
    background: url("../../img/svg/chevron-down-outline.svg") 96% / 2.2rem no-repeat $color-grey-light-2;
  }

  }


  // FILE input
  &__file {
    margin: 2rem 0 4rem 0;
    position: relative;

    &__label {
      background-color: $color-primary-dark;
      border-radius: 2px;
      color: $color-light;
      font-weight: 500;
      padding: 1rem 1.5rem 1rem 3rem;
      position: relative;
      z-index: 10;

      &:hover {
        background-color: $color-grey-dark-2;
      }

      //When clicked https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-within
      &:focus-within {
        font-weight: 700;
      }


    }
    // is effectively placed behind the label, so that the chosen filename is shown, but the button is hidden
    &__input {
      position: absolute;
      z-index: 1;
      top: -.3rem;
      left: 1rem;;
      font-size: 1.5rem;
      color: $color-grey-dark-2;
    }

    &__icon {
      font-size: 1.6rem;
      padding-right: .3rem;
      position: absolute;
      left: 1rem;
    }


  }

  // CHECKBOX container
  &__checkbox {
    display: grid;
    grid-gap: 2rem;
    margin: 1rem 0;


    &__group {
      display: grid;
      grid-template-columns: min-content max-content 1fr;
      align-items: center;
      grid-gap: 1rem;

    }


    &__field {
      height: 2rem;
      width: 2rem;
    }

    &__label {
      color: $color-grey-dark-3;
      font-size: 1.2rem;
      font-weight: 700;
      margin-right: -.5rem;

    }
  }


  // RADIO BUTTON STYLING
  &__radio{
    width: 2rem;
    height: 2rem;
  }

  // SUBMIT button
  .btn {
    width: 100%;
    //margin-top: 1rem;
  }
}
