<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SCIM</title>
    {% assets "asset_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

  </head>
  <body>
    <header>
      <h1>School Club Information Manager</h1>
    </header>


    {% if current_user.is_authenticated %}
    <!-- user is logged in -->
    {% block nav %}
    {% endblock %}

    {% else %}
    <ul>
      <li class=""><a href="{{ url_for('users.login')}}">Log in</a></li>
      <li class=""><a href="{{ url_for('users.register')}}">Register</a></li>
    </ul>
    {% endif %}


    <div class="">
      {% block content %}

      {% endblock %}

    </div>

  </body>
</html>
