.parent {

  &__container {
    display: grid;
    grid-template-rows: [header-start] 4rem [header-end main-start] 1fr [main-end footer-start] 4rem [footer-end];
    grid-template-columns: [left-margin-start] minmax(0, 1fr) [left-margin-end main-start] minmax(50rem, 80%)
                           [main-end right-margin-start] minmax(0, 1fr)[right-margin-end];


    background-color: $color-grey-light-2;
  }

  &__header {
    grid-column: left-margin-start / right-margin-end;
    grid-row: header-start / header-end;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-light;
      padding: 0 1rem;

      &-container {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
      }
    }
  }

  &__main {
    grid-column: main-start / main-end;

  }

  &__footer {
    grid-column: left-margin-start / right-margin-end;
    grid-row: footer-start / footer-end;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    &__link {
      color: inherit;
    }
  }
}
