{% extends "parent/base.html" %}

{% block parent_content %}

<div class="tabs club__card__tabs medium_up">
  <div class="tabs__left table__timetable__tabs__other" >
    <a href="{{url_for('clubs.timetable')}}" style="border-color: {{school.banner_colour}};">
      <h2 style="color:{{school.banner_colour}};">Timetable</h2>
    </a>
  </div>
  <div class="tabs__right table__timetable__tabs__current" style="background-color:{{school.banner_colour}};">
    <a href="#"><h2>Details</h2></a>
  </div>
</div>
<div class="small_screen">
  <h2 class="club__card__header ">Details (tap club to expand)</h2>
</div>

<div class="club__card__container">
{% for club in clubs %}

  {% set days = club[1] %}
  {% set ygs  = club[2] %}
  {% set staff_member = club[3] %}
  {% set book = club[4] %}
  {% set ext_c = club[5] %}
  {% set club = club[0] %}

  <a href="{{url_for('clubs.school_clubs', _anchor='single_card_popup', club_id=club.id)}}" class="club__card">
    <div class="club__card__title club__card__section">
      <h3>{{club.name}}</h3>
    </div>
    <p  class="club__card__split">
      <span>
        {% if days|length > 1 %}
          {% for day in days %}
            {% if loop.last %}
              {{day}}
            {% else %}
              {{day}},
            {% endif %}
          {% endfor %}
        {% else %}
          {{days[0]}}
        {% endif %}

      </span><span>{{club.start_time.strftime('%H:%M')}} - {{club.end_time.strftime('%H:%M')}}</span>
     </p>
    <p class="club__card__split medium_up">
      <span>Starts {{club.start_date.strftime('%d/%m/%Y')}}</span>
      <span>Last date {{club.end_date.strftime('%d/%m/%Y')}}</span>
    </p>
    <p class="club__card__three small_screen">
      <span>{{club.start_date.strftime('%d/%m/%Y')}} </span>
      <span>-</span>
      <span>{{club.end_date.strftime('%d/%m/%Y')}}</span>
    </p>
    {% if club.photo %}
      <img src="{{ url_for('static', filename='img/club/'+club.photo)}}"
           height="200"
           alt="Club activities photo"
           class="club__card__photo">
    {% endif %}

    <div class="club__card__section">
      <h4 class="club__card__subheading">Description of club activities</h4>
      <p>{{club.description}}</p>
    </div>
    <div class="club__card__section club__card__circle-section">
      <span class="club__card__circle__group">
        <h4 class="club__card__subheading">Year Groups</h4>
        <p class="club__card__circle">{{ygs}}</p>
      </span>
      <span class="club__card__circle__group">
        <h4 class="club__card__subheading">Cost</h4>
        {% if club.cost %}
          <p class="club__card__circle">£{{club.cost}}</p>
        {% else %}
          <p class="club__card__circle">Free</p>
        {% endif %}
      </span>
      <span class="club__card__circle__group">
        <h4 class="club__card__subheading">Spaces left</h4>
        <p class="club__card__circle">{{club.num_of_places}}</p>
      </span>
    </div>

{% if club.equipment or club.outfit or club.experience %}
<div class="club__card__section club__card__split">
  {% if club.equipment or club.outfit %}
  <span>
    {% if club.equipment %}
      <h4 class="club__card__subheading">Please bring</h4>
      <p>{{club.equipment}}</p>
    {% endif %}

    {% if club.outfit %}
      <h4 class="club__card__subheading">Please wear</h4>
      <p>{{club.outfit}}</p>
    {% endif %}
  </span>
  {% endif %}
  <span>
    {% if club.experience %}
      <h4 class="club__card__subheading">Experience level</h4>
      <p>{{club.experience}}</p>
    {% endif %}
  </span>
</div>
{% endif %}

    {% if staff_member.name %}
      {% set running_the_club = staff_member.name %}
      {% set running_description = staff_member.description %}
    {% else  %}
    {% if ext_c %}
      {% set running_the_club = ext_c.name %}
      {% set running_description = ext_c.description %}
      {% endif %}
    {% endif %}

    {% if staff_member or ext_c %}
    <div class="club__card__section">
      <h4 class="club__card__subheading ">This club is run by {{running_the_club }}</h4>
      <p>{{running_description}}</p>
    </div>
    {% endif %}

    <h4 class="club__card__subheading">Club location</h4>
    <p>{{club.location}}</p>

    {% if book.teacher_name %}
      <p class="club__card__booking">Talk to {{book.teacher_name}} to book</p>
    {% elif book.email  %}
      <p class="club__card__booking">To book email: {{book.email}}</p>
    {% elif book.call %}
      <p class="club__card__booking">To book call: {{book.call}}</p>
    {% else %}
      <p class="club__card__booking">Drop in club - no need to book</p>
    {% endif %}
  </a>

{% endfor %}
</div>

{% include "parent/card.html" %}

{% endblock %}
