{% extends "parent/base.html" %}

{% block parent_content %}


{% set times = ["Morning", "Lunch", "After school"] %}
<!--<div class="tabs timetable__tabs">
  <span>&nbsp;</span>
  <div class="tabs__left" id="left-tab"  style="background-color: {{school.banner_colour}}">
    <a href="#tab1"><h3>Timetable</h3></a>
  </div>
  <div class="tabs__right" id="right-tab">
    <a href="#tab2"><h3>Details</h3></a>
  </div>
</div>-->
<table class="table table__timetable">
  <tr class="table__timetable__tabs" >
    <th class="table__header--empty"></th>
    {% set num_days = weekdays|length %}
    {% if num_days % 2 == 0 %}
      {% set tab1, tab2 = num_days/2, num_days/2 %}
    {% else %}
      {% set tab1, tab2 = num_days/2, ((num_days/2)+1) %}
    {% endif %}
    <th class="table__timetable__tabs__current" colspan="{{tab1}}" style="background-color:{{school.banner_colour}};">Timetable</th>
    <th class="table__timetable__tabs__other" colspan="{{tab2}}" >
      <a href="{{url_for('clubs.school_clubs')}}" style="color:{{school.banner_colour}};">
        Details
      </a>
    </th>
  </tr>


  <tr class="table__row">
    <th class="table__header--empty"></th>
    {% for d in weekdays %}
      <th class="table__header" style="background-color:{{school.banner_colour}};">{{ d }}</th>
    {% endfor %}


    <!--<th class="table__header">Tuesday</th>
    <th class="table__header">Wednesday</th>
    <th class="table__header">Thursday</th>
    <th class="table__header">Friday</th>-->
    <!-- consider adding if statement to check in to include weekend -->
  </tr>

{% for time in times %}
  <tr class="table__row">

    <th class="table__header--side">{{time}}</th>
    {% for wd in weekdays %}


    <td class="table__cell">
      {% for club in timetable_clubs[wd] %}
        {% if time == "Morning" %}
          {% set min_hour, max_hour = 6, 9 %}
        {% elif time == "Lunch" %}
          {% set min_hour, max_hour = 9, 15 %}
        {% else %}
          {% set min_hour, max_hour = 15, 24 %}
        {% endif %}


        {% if (club[0].start_time.hour >= min_hour) and (club[0].start_time.hour < max_hour) %}
        <a href="{{url_for('clubs.timetable', _anchor='single_card_popup', club_id=club[0].id)}}" class="c lub__card">
          <div class="table__timetable__card">
            <div class="table__timetable__times">
              <p>{{club[0].start_time.strftime("%H:%M")}}</p>
              <p>-</p>
              <p>{{club[0].end_time.strftime("%H:%M")}}</p>
            </div>
            <div class="table__timetable__main-content">
              <span class="table__timetable__split">
                <h4>{{club[0].name}}</h4>
                <h4>YG {{club[1]}}</h4>
              </span>
              <p>{{club[0].location}}</p>
              <span class="table__timetable__split">
                <p class="table__timetable__places">
                  {{club[0].num_of_places}} spaces left
                </p>
                <h4 class="table__timetable__cost">
                  {% if club[0].is_free %}Free {% else %}£{{club[0].cost}}{% endif %}
                </h4>
              </span>
            </div>

          </div>
        </a>

        {% endif %}
      {%endfor %}
    </td>
    {% endfor %}
    <!--<td class="table__cell">{{monday_clubs}}</td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>-->



  </tr>
  {% endfor %}
  <!--<tr class="table__row">
    <th class="table__header--side">Lunch</th>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
  </tr>
  <tr class="table__row">
    <th class="table__header--side">After school</th>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
    <td class="table__cell"></td>
  </tr>-->

</table>
{% include "parent/card.html" %}
{% endblock %}
