{% extends "parent/base.html" %}

{% block parent_content %}


{% set times = ["Morning", "Lunch", "After school"] %}
<div class="small_screen">
  <h2 class="club__card__header ">Timetable (tap club to expand)</h2>

    <div class="timetable__small__weekdays">
      {% for day in weekdays %}
        <a {% if (not weekday and day == today.strftime('%A')) or day == weekday %} id="current_day" {% endif %} class="timetable__small__weekdays__day" href="{{url_for('clubs.timetable', x=day)}}">{{day[0]}}</a>
      {% endfor %}
    </div>
    {% if not weekday %} {% set weekday = today.strftime('%A') %}{% endif %}
    {% if timetable_clubs[weekday] %}
      {% for time in times %}

        {% if time == "Morning" %}
          {% set min_hour, max_hour, time_index = 6, 9, 0 %}
        {% elif time == "Lunch" %}
          {% set min_hour, max_hour, time_index = 9, 15, 1 %}
        {% else %}
          {% set min_hour, max_hour, time_index = 15, 24, 2 %}
        {% endif %}

        {% if timeofday[weekday][time_index] %}

        <h3 class="timetable__small__timeofday">{{time}}</h3>

        {% for club in timetable_clubs[weekday] %}
          {% if (club[0].start_time.hour >= min_hour) and (club[0].start_time.hour < max_hour) %}
            <a href="{{url_for('clubs.timetable', _anchor='single_card_popup', x=club[0].id)}}" class="c lub__card">
              <div class="table__timetable__card timetable__small__card">
                <div class="table__timetable__times">
                  <p>{{club[0].start_time.strftime("%H:%M")}}</p>
                  <p>-</p>
                  <p>{{club[0].end_time.strftime("%H:%M")}}</p>
                </div>
                <div class="table__timetable__main-content">
                  <span class="table__timetable__split">
                    <h4>{{club[0].name}}</h4>
                    <h4>YG {{club[1]}}</h4>
                  </span>
                  <p>{{club[0].location}}</p>
                  <span class="table__timetable__split">
                    <p class="table__timetable__places timetable__small__places">
                      {{club[0].num_of_places}} spaces left
                    </p>
                    <h4 class="table__timetable__cost">
                      {% if club[0].is_free %}Free {% else %}£{{club[0].cost}}{% endif %}
                    </h4>
                  </span>
                </div>
              </div>
            </a>
          {% endif %}<!-- ends "if (club[0].start_time.hour >= min_hour) and..." -->

        {% endfor %}<!-- ends "timetable_clubs[weekday]" -->
        {% endif %}<!-- ends "if timeofday[weekday][time_index]" -->
      {% endfor %}<!-- ends "times" -->
    {% else %}
      <p class="timetable__small__noclubs">There are no clubs running on {{weekday}}s</p>
    {% endif %}







</div>
<table class="table table__timetable medium_up">
  <tr class="table__timetable__tabs" >
    <th class="table__header--empty"></th>
    {% set num_days = weekdays|length %}
    {% if num_days % 2 == 0 %}
      {% set tab1, tab2 = num_days/2, num_days/2 %}
    {% else %}
      {% set tab1, tab2 = num_days/2, ((num_days/2)+1) %}
    {% endif %}
    <th class="table__timetable__tabs__current medium_up" colspan="{{tab1}}" style="background-color:{{school.banner_colour}};">Timetable</th>
    <th class="table__timetable__tabs__other medium_up" colspan="{{tab2}}" >
      <a href="{{url_for('clubs.school_clubs')}}" style="color:{{school.banner_colour}};">
        Details
      </a>
    </th>
  </tr>

  <tr class="table__row">
    <th class="table__header--empty"></th>
    {% for d in weekdays %}
      <th class="table__header" style="background-color:{{school.banner_colour}};">{{ d }}</th>
    {% endfor %}
  </tr>

{% for time in times %}
  <tr class="table__row">
    <th class="table__header--side">{{time}}</th>
    {% for wd in weekdays %}

    <td class="table__cell">
      {% for club in timetable_clubs[wd] %}
        {% if time == "Morning" %}
          {% set min_hour, max_hour = 6, 9 %}
        {% elif time == "Lunch" %}
          {% set min_hour, max_hour = 9, 15 %}
        {% else %}
          {% set min_hour, max_hour = 15, 24 %}
        {% endif %}

        {% if (club[0].start_time.hour >= min_hour) and (club[0].start_time.hour < max_hour) %}
        <a href="{{url_for('clubs.timetable', _anchor='single_card_popup', club_id=club[0].id)}}" class="c lub__card">
          <div class="table__timetable__card">
            <div class="table__timetable__times">
              <p>{{club[0].start_time.strftime("%H:%M")}}</p>
              <p>-</p>
              <p>{{club[0].end_time.strftime("%H:%M")}}</p>
            </div>
            <div class="table__timetable__main-content">
              <span class="table__timetable__split">
                <h4>{{club[0].name}}</h4>
                <h4>YG {{club[1]}}</h4>
              </span>
              <p>{{club[0].location}}</p>
              <span class="table__timetable__split">
                <p class="table__timetable__places">
                  {{club[0].num_of_places}} spaces left
                </p>
                <h4 class="table__timetable__cost">
                  {% if club[0].is_free %}Free {% else %}£{{club[0].cost}}{% endif %}
                </h4>
              </span>
            </div>
          </div>
        </a>
        {% endif %}
      {%endfor %}<!-- ends timetable_clubs[wd -->
    </td>
    {% endfor %}<!-- ends weekdays -->
  </tr>
  {% endfor %}<!-- ends times -->
</table>
{% include "parent/card.html" %}
{% endblock %}
