// COLOR VARIABLES
$color-primary: #11698e;
$color-primary-dark: #19456b;

$color-secondary: #16c79a;

$color-light: #f8f1f1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #ccc;
$color-grey-dark-2: #555;
$color-grey-dark-3: #333;

// FONT VARIABLES
$font-primary: 'Helvetica Neue', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-large: 62.5em; // 1000px
$bp-medium: 51.56em; //825px
$bp-small: 41.56em;//665px
$bp-tiny: 32.81em;



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-small) {
    font-size: 50%; //8px
  }

}
