.container {
  display: grid;
  grid-template-rows: [header-start] 17rem [header-end main-start] 1fr [main-end];
  grid-template-columns: [left-margin-start] minmax(0, 1fr) [left-margin-end nav-start] 20rem
                         [nav-end main-start] minmax(40rem, 90rem) [main-end right-margin-start] minmax(0, 1fr)
                         [right-margin-end];

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: [header-start] 6rem [header-end main-start] 1fr [main-end];
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.header {
  grid-column: nav-start / main-end;
  background-color: $color-primary-dark;
  display: grid;

  @media only screen and (max-width: $bp-small) {
    grid-column: left-margin-start / right-margin-end;
  }

  &__title {
    align-self: center;
    text-align: center;
  }

  &__link {
    justify-self: end;
    margin-bottom: .5rem;
  }
}

// small screen header
.small-screen-grid {
  @media only screen and (max-width: $bp-small) {
    padding: .6rem;
    height: 6rem;
  }
}

.sidebar {
  grid-column: nav-start / nav-end;
  background-color: $color-grey-light-2;

  @media only screen and (max-width: $bp-large) {
    grid-column: nav-start / main-end;
    padding-left: 2rem;
  }
}

.user_authentication {
  grid-column: nav-start / main-end;
  justify-self: center;
  margin: 3rem;

  &__form { display: grid; }

  &__question {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

.user_account__form {
  width: 50%;
  margin-top: 2rem;
}

.main-content {
  grid-column: main-start /main-end;
  margin: 2rem 0 2rem 4rem;

  @media only screen and (max-width: $bp-large) {
    grid-column: nav-start /main-end;
    margin-right: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    min-height: calc(100vh - 16rem); // 6rem header + 6rem footer = 12rem
  }
}

.footer {
  display: none;

  @media only screen and (max-width: $bp-small) {
    grid-column: nav-start /main-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 4rem;
    background-color: $color-primary-dark;

    &__account a,
    &__account ion-icon{ color: #fff; }
  }
}

// Do not show on screens smaller than medium
.medium_up {
  @media only screen and (max-width: $bp-small) {
    display: none !important;
  }
}

//only show on small screens
.small_screen {
  @media only screen and (min-width: $bp-small) {
    display: none !important;
  }
}

.full-width { grid-column: 1/-1; }

.margin-top-medium { margin-top: 4rem !important; }
.margin-top-big { margin-top: 8rem !important; }
