{% extends "base.html" %}

{% block content %}
<section class="club">
  <h2 class="">{{title}} club details</h2>
  <p class="comment"><sup>*</sup> Mandatory fields</p>

  <form action="" method="POST"  class="form club__form" enctype="multipart/form-data">
    <!-- CORE INFO - NAME, WHAT, WHEN, WHERE -->
    <fieldset class="">
    <legend class="club__form__subheading">Core information - name, what, when, where</legend>
    <span class="club__form__grid__container"><!-- CSS grid does not work properly on fieldset on Chrome and Safari, so use span as container -->
    {{ form.hidden_tag() }}<!-- to make sure we can accept the form -->
    <div>
      <!-- Name of club -->
        {{ form.name.label(class="form__label") }} {{ form.name(class="form__input med_margin_bottom", placeholder="Art club")}}

        <!-- Dates -->
        <fieldset>
          <legend class="comment no-margin full-width">Enter dates the club will run</legend>
          <span class="club__form__grid__split-column">
            <div>
              {{ form.start_date.label(class="form__label") }}
              <input type="date" name="start_date" min="{{ today }}" max="{{ one_year }}" id="start_date" class="form__date-and-time" onchange="dateTimeEndValidation('start_date', 'end_date')" required>
            </div>
            <div>
              {{ form.end_date.label(class="form__label") }}
              <input type="date" name="end_date" min="" id="end_date" class="form__date-and-time" onchange="dateTimeEndValidation('start_date', 'end_date')" required>
            </div>
          </span>
        </fieldset>

        <!-- Times -->
        <fieldset>
          <legend class="comment no-margin">What time will the club be on?</legend>
          <span class="club__form__grid__split-column">
            <div>
              {{ form.start_time.label(class="form__label") }}
              <input type="time" name="start_time" id="start_time" min="06:00" max="23:00" class="form__date-and-time" onchange="dateTimeEndValidation('start_time', 'end_time')" required>
            </div>
            <div>
              {{ form.end_time.label(class="form__label") }}
              <input type="time" name="end_time" id="end_time" class="form__date-and-time" min="" onchange="dateTimeEndValidation('start_time', 'end_time')" required>
            </div>
          </span>
        </fieldset>

        <!-- Location -->
      <fieldset>
        <legend class="form__label">Club location*</legend>

        <div class="club__form__radio-and-text-group">
          <input type="radio" id="at_school" class="form__radio" name="location" value="at_school"  onclick="showHide2('at_school_form', 'off_school_form')"> <!-- onclick="setFocus('at_school_input')"  {% if ((club) and (club.at_school)) or not club %}checked{% endif %} -->
          <label for="at_school" class="form__label">At school premises</label>
        </div>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  onclick="showHide2('off_school_form', 'at_school_form')" > <!-- onclick="setFocus('off_school_input')"  {% if (club)  and (club.at_school == False) %}checked{% endif %} -->
            <label for="off_school" class="form__label">Off school premises</label>
          </div>
          <div class="hide" id="at_school_form">
            {{ form.at_school_premises.label(class="form__label") }}
            {{ form.at_school_premises(class="form__input", id="at_school_input", onclick="checkRadio('at_school')", placeholder="Room 23b") }}
          </div>
          <div class="hide" id="off_school_form">
            {{ form.off_school_premises.label(class="form__label") }}
            {{ form.off_school_premises(class="form__textarea", id="off_school_input",
          placeholder="Art center,
Downton street,
Madeup Town,
AB1 2CD", onclick="checkRadio('off_school')") }}
          </div>
      </fieldset>
    </div>

    <!-- Days -->
    <fieldset>
      <legend for="" class="form__label">Day(s) the club will be running*</legend>
      <div class="form__checkbox">
        {% for day in form.days %}
            <div class="form__checkbox__group">
              {{day(class="form__checkbox__field ")}}
              {{day.label(class="form__checkbox__label")}}
            </div>
        {% endfor %}
      </div>
    </fieldset>
  </span>
  </fieldset>

    <!-- WHO CAN JOIN -->
    <fieldset class="club__form__section">
    <legend class="club__form__subheading">Who can join</legend>
    <span class="club__form__grid__container">
    <div>
      <!-- Year groups -->
      <fieldset class="club__form__item">
        <legend for="" class="form__label">Year group(s) this club will be available to*</legend>
        <div class="form__checkbox">
          {% for yg in form.year_groups %}
              <div class="form__checkbox__group">
                {{yg(class="form__checkbox__field")}}
                <span class="form__checkbox__label">Year Group </span>{{yg.label(class="form__checkbox__label")}}
              </div>
          {% endfor %}
        </div>
      </fieldset>
      <!-- Number of places -->
        {{ form.num_places.label(class="form__label") }} {{ form.num_places(class="form__input--number") }}

    </div>
    <div>
      <fieldset>
        <legend class="form__label">Equipment/outfit needed:</legend>
        <!-- Oufit -->
        {{ form.outfit.label(class="form__label") }} {{ form.outfit(class="form__input", placeholder="Apron") }}
        <!-- Equipment -->
        {{ form.equipment.label(class="form__label") }} {{ form.equipment(class="form__input", placeholder="Oil pastels, paint brushes") }}
      </fieldset>
        <!-- Experience -->
        {{ form.experience.label(class="form__label") }} {{ form.experience(class="form__input", placeholder="None - all welcome/Beginner") }}

    </div>
  </span>
    </fieldset>
    <!-- BOOKING AND COST -->
    <fieldset class="club__form__section">
    <legend class="club__form__subheading">Booking and cost</legend>
    <span class="club__form__grid__container">
      <div>
        <!-- To book a place -->
        <fieldset>
          <legend class="form__label">To book a place*</legend>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="drop_in" name="book" class="form__radio" value="drop_in"  onclick="hide3('book_teacher', 'book_email', 'book_call')" {% if ((club) and (club.drop_in)) or not club %} checked {% endif %}>
            <label for="drop_in">
              {{ form.book.label(class="form__label--nomargin") }}
            </label>
          </div>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="teacher" name="book" value="teacher" class="form__radio" onclick="showHide3('book_teacher', 'book_email', 'book_call')" {% if (contact_to_book)  and (contact_to_book.teacher_name != None) %} checked {% endif %}>
            <label for="teacher" class="form__label">Talk to a teacher</label>
          </div>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="email" name="book" value="email" class="form__radio" onclick="showHide3('book_email', 'book_teacher', 'book_call')" {% if (contact_to_book)  and (contact_to_book.email != None) %} checked {% endif %}>
            <label for="email" class="form__label">Email</label>
          </div>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="call" name="book" value="call" class="form__radio" onclick="showHide3('book_call', 'book_email', 'book_teacher')" {% if (contact_to_book)  and (contact_to_book.call != None) %} checked {% endif %}>
            <label for="call" class="form__label">Call</label>
          </div>
          <div class="hide" id="book_teacher">
            {{ form.teacher.label(class="form__label") }}
            {{ form.teacher(class="form__input", id="teacher-input", onclick="checkRadio('teacher')", placeholder="Mr Smith", list="teachers") }}
            <datalist id="teachers">
              {% for t in teachers %}
                {% if t %}
                <option value="{{t}}">
                {% endif %}
              {% endfor %}
            </datalist>
          </div>
          <div class="hide" id="book_email">
            {{ form.email.label(class="form__label") }}
            {{ form.email(class="form__input", id="email-input", onclick="checkRadio('email')", placeholder="smith@email.com", list="emails") }}
            <datalist id="emails">
              {% for e in emails %}
                {% if e %}
                <option value="{{e}}">
                {% endif %}
              {% endfor %}
            </datalist>
          </div>
          <div class="hide" id="book_call">
            {{ form.call.label(class="form__label") }}
            {{ form.call(class="form__input", id="call-input", onclick="checkRadio('call')",
                                              placeholder="01234567890", list="phone_numbers") }}
            <datalist id="phone_numbers">
              {% for p in phone_numbers %}
                {% if p %}
                <option value="{{p}}">
                {% endif %}
              {% endfor %}
            </datalist>
          </div>
        </fieldset>
      </div>
      <div>
        <!-- Cost -->
        <fieldset>
          <legend class="form__label">How much will the club cost?*</legend>
            <label for="free" class="club__form__radio-and-text-group">
              <input type="radio" id="free" name="is_free" value="free" class="form__radio" onclick="hide1('cost_input')" {% if ((club) and (club.is_free)) or not club %} checked {% endif %}>
              {{ form.is_free.label(class="form__label--nomargin") }}

            </label>

          <div class="club__form__radio-and-text-group">
            <input type="radio" id="paid" name="is_free" value="paid" class="form__radio"  onclick="show1('cost_input')" {% if (club)  and (club.is_free == False) %}checked{% endif %}>
            <label for="paid" class="form__label">Paid</label>
          </div>
          <div class="hide" id="cost_input">
            {{ form.cost.label(class="form__label") }}<br>
            <span class="form__input--pound">
              {{ form.cost(class="form__input", id="paid-input", onclick="checkRadio('paid')", placeholder="3.50") }}
            </span>
          </div>
        </fieldset>
      </div>
      </span>
        </fieldset>
        <!-- DESCRIPTION OF CLUB AND PHOTO -->
        <fieldset class="club__form__section">
        <legend class="club__form__subheading">Description of club and photo</legend>
        <span class="club__form__grid__container">
        <div>
          <div class="form__file">
            <label for="photo" class="form__file__label">
              <ion-icon name="cloud-upload-outline" class="form__file__icon"></ion-icon>Upload photo</label>
            <input type="file" name="photo" id="photo" class="form__file__input">
          </div>
        </div>
        <div>
          {{ form.description.label(class="form__label") }}
          {{ form.description(class="form__textarea") }}
        </div>
      </span>
        </fieldset>
        <!-- DESCRIPTION OF CLUB LEADER, COMPANY OR STAFF -->
        <fieldset>
        <legend class="club__form__subheading">Description of club leader, company or staff</legend>
          <p class="comment">Enter details about the staff that will run the club</p>

          <fieldset>
            <span class="club__form__grid__container">
          <div class="club__form__radio-and-text-group left">
            <input type="radio" id="new" class="form__radio" name="new_entry" value="new" onclick="showHide2('new_entry_box', 'existing_dropdowns')" > <!-- {% if not club %} checked {% endif %} -->
            <label for="new" class="form__label--nomargin">
              New entry
            </label>
          </div>
          <div class="club__form__radio-and-text-group right">
            <input type="radio" id="existing" class="form__radio" name="new_entry" value="existing" onclick="showHide2('existing_dropdowns', 'new_entry_box')" >  <!-- {% if club %} checked {% endif %} -->
            <label for="existing" class="form__label--nomargin">
              Existing club running staff or company
            </label>
          </div>
        </span>
        </fieldset>
        <span class="club__form__grid__container">
          <div id="new_entry_box" class="hide">
            <fieldset>
              <legend class="comment">Is the new entry a person or company?</legend>
              <span class="club__form__grid__split-column">
              <div class="club__form__radio-and-text-group left">
                <input type="radio" id="person" class="form__radio" name="type_of_staff" value="person" onclick="showHide2('person_form', 'company_form')" > <!-- checked -->
                <label for="person" class="form__label">
                  Person
                </label>
              </div>
              <div class="club__form__radio-and-text-group right">
                <input type="radio" id="company" class="form__radio" name="type_of_staff" value="company" onclick="showHide2('company_form', 'person_form')">
                <label for="company" class="form__label">
                  Company
                </label>
              </div>
            </span>
            </fieldset>
            <fieldset class="person big-top-margin left hide" id="person_form">
              <legend class="comment">Enter details about the new staff member</legend>
              {{ form.staff_name.label(class="form__label") }}
              {{ form.staff_name(class="form__input", placeholder="Ms Kahlo") }}
              {{ form.staff_email.label(class="form__label") }}
              {{ form.staff_email(class="form__input", placeholder="kahlo@email.com") }}
              {{ form.staff_description.label(class="form__label") }}
              {{ form.staff_description(class="form__textarea", placeholder="Ms Kahlo spends most of her time painting and is excited to be teaching a new generation of artists.") }}
            </fieldset>

            <fieldset class="company big-top-margin left hide" id="company_form">
              <legend class="comment">Enter details about the new company</legend>
              {{ form.company_name.label(class="form__label") }}
              {{ form.company_name(class="form__input", placeholder="Arty Party") }}
              {{ form.company_email.label(class="form__label") }}
              {{ form.company_email(class="form__input", placeholder="info@artyparty.com") }}
              {{ form.company_website.label(class="form__label") }}
              {{ form.company_website(class="form__input", placeholder="www.artyparty.com") }}
              {{ form.company_description.label(class="form__label") }}
              {{ form.company_description(class="form__textarea", placeholder="Arty Party brings experienced staff in every art form to your schools to give children access to new techinques in painting, drawing, building and so much more, with fun and inspiring projects!") }}
            </fieldset>
          </div>






            <div class="right hide" id="existing_dropdowns" {% if club %} style="display:block;" {% endif %}>
              <fieldset>
                <legend class="comment">Staff or company already exists in the system - choose which type to open list of options</legend>
                <div class="club__form__radio-and-text-group">
                  <input type="radio" id="existing_staff" class="form__radio" name="existing_clubrunner" value="existing_staff" onclick="showHide2('staff_dropdown', 'companies_dropdown')"> <!-- {% if not club or (not club.ext_company_id)  %} checked {% endif %} -->
                  <label for="existing_staff" class="form__label--nomargin">
                    Open list of club staff members
                  </label>
                </div>
                <div class="club__form__radio-and-text-group">
                  <input type="radio" id="existing_company" class="form__radio" name="existing_clubrunner" value="existing_company" onclick="showHide2('companies_dropdown', 'staff_dropdown')"> <!-- {% if club and club.ext_company_id %} checked {% endif %} -->
                  <label class="form__label">
                    Open list of club running companies
                  </label>
                </div>
              </fieldset>


              <div class="staff-dropdown hide" id="staff_dropdown">
                {{ form.staff.label(class="form__label") }}
                <div class="hide">
                  <ion-icon name="chevron-down-outline" id="chevron-down"></ion-icon>
                </div>
                {{ form.staff(class="form__dropdown")}}
              </div>
              <div class="companies-dropdown hide" id="companies_dropdown">
                {{ form.companies.label(class="form__label") }}
                <div class="hide">
                  <ion-icon name="chevron-down-outline" id="chevron-down"></ion-icon>
                </div>
                {{ form.companies(class="form__dropdown")}}
              </div>
            </div>


      </span>
        </fieldset>

    <div class="club__form__item--submit">
      {{ form.submit(class="btn") }}
    </div>
  </form>
</section>
<script type="text/javascript">
  // when connected radiobutton is selected, focus on this input
  function setFocus(id) {
    document.getElementById(id).focus();
  }

  // when input element is selected, check connected radiobutton
  function checkRadio(id) {
    document.getElementById(id).checked = true;
  }

  // Only show subforms that are connected to relevant radiobutton (hide the other)
  function showSubFormHideOther(id1, id2) {
    document.getElementById(id1).style.display = "block";
    document.getElementById(id2).style.display = "none";
  }

  function show1(id1) {
    document.getElementById(id1).classList.remove("hide");
  }

  function hide1(id1) {
    document.getElementById(id1).className += " hide";
  }


  function showHide2(id1, id2) {
    document.getElementById(id1).classList.remove("hide");
    document.getElementById(id2).className += " hide";
  }

  function showHide3(id1, id2, id3) {
    document.getElementById(id1).classList.remove("hide");
    document.getElementById(id2).className += " hide";
    document.getElementById(id3).className += " hide";
  }

  function hide3(id1, id2, id3) {
    document.getElementById(id1).className += " hide";
    document.getElementById(id2).className += " hide";
    document.getElementById(id3).className += " hide";
  }

  // set min attribute of date and time end elements as no earlier than start time
  function dateTimeEndValidation(start_id, end_id) {
    start = document.getElementById(start_id);
    min_end = start.value;
    document.getElementById(end_id).setAttribute("min", min_end);
  }

</script>

{% endblock %}
