{% extends "base.html" %}

{% block content %}
<div class="company">
<h2>{{ c.id }}. {{ c.name }}</h2>
<div class="company__details">

  <p>{{ c.email }}</p>
  <p>{{ c.website }}</p>
  <br>
  <p>{{ c.description }}</p>
</div>

<div class="company__form">
  <h3>Update details about {{c.name}}</h3>
  <form method="POST" class="form">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form__label") }}{{ form.name(class="form__input") }}
    {{ form.email.label(class="form__label") }}{{ form.email(class="form__input") }}
    {{ form.website.label(class="form__label") }}{{ form.website(class="form__input") }}
    {{ form.description.label(class="form__label") }}{{ form.description(class="form__textarea") }}
    {{ form.submit_update(class="btn")}}
  </form>
</div>


<div class="company__table">
  <h3>{{c.name}} runs the following clubs</h3>
  {% if clubs %}
  <table class="table">
    <tr class="table__row">
      <th class="table__header">id</th>
      <th class="table__header">Name</th>
      <th class="table__header"></th>
    </tr>

    {% for club in clubs %}
    <tr class="table__row">
      <td class="table__cell">{{club.id}}</td>
      <td class="table__cell">{{club.name}}</td>
      <td class="table__cell">
        <a href="{{ url_for('clubs.company', _anchor='remove-company-from-club-popup', c_id=c.id, club_id=club.id)}}" class="btn--delete">
          Remove {{c.name}} from {{club.name}} - they no longer run this club
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<p class="comment">{{c.name}} is not currently linked to any clubs</p>
{% endif %}

<div class="company__delete-staff">
  <p>Delete {{c.name}} from the system?</p>
      <a href="{{ url_for('clubs.company', _anchor='remove-company-popup', c_id=c.id)}}" class="btn--delete">
        Remove company {{c.name}}
      </a>
</div>
{% if test %}{{test}}{% endif %}

<!-- REMOVE CLUB FROM COMPANY -->
<div class="popup" id="remove-company-from-club-popup">
  <div class="popup__container">
    <p>Are you sure you want to remove {{c.name}}{% if popup_club %} from {{popup_club.name}}{% endif %}</p>

    <form method="POST" class="form">
      {{ form.hidden_tag() }}<!-- to make sure we can accept the form -->
     <a href="{{ url_for('clubs.company', c_id=c.id)}}" class="btn">Cancel</a>
      {% set value = 'Remove ' + sm.name%}
      {{ form.removeCompanyFromClub(class="btn--delete", value=value) }}
    </form>
  </div>
</div>

<div class="popup" id="close-remove-from-club">
  <div class="popup__container">
    <p>{{c.name}} successfully removed from the club</p>
     <a href="{{ url_for('clubs.company', c_id=c.id)}}" class="btn">Close</a>
  </div>
</div>

<!-- REMOVE COMPANY (DELETE) -->
<div class="popup" id="remove-company-popup">
  <div class="popup__container">
    <p>Are you sure you want to remove company {{c.name}}?</p>
    <p>This action cannot be  undone once completed.</p>

    <form method="POST" class="form">
      {{ form.hidden_tag() }}<!-- to make sure we can accept the form -->
     <a href="{{ url_for('clubs.company', c_id=c.id)}}" class="btn">Cancel</a>
      {% set value = 'Remove ' + c.name %}
      {{ form.removeCompany(class="btn--delete", value=value) }}
    </form>
  </div>
</div>

</div>
{% endblock %}
