
<div class="nav--small__background">&nbsp;</div>
<!-- small screen navigation-->
<ul class="nav--small">
  <li  class="nav--small__item">
    <ion-icon name="home-sharp" class="nav--small__icon"></ion-icon>
    <a href="{{ url_for('school.school_account')}}" class="nav--small__link" onclick="closeNav('hamburger__toggle')">School account details</a>
  </li>
  <li class="nav--small__item">
    <ion-icon name="person-add-sharp" class="nav--small__icon"></ion-icon>
    <a href="#" class="nav--small__link">New user token</a>
  </li>
  <li class="nav--small__item">
    <ion-icon name="list-sharp" class="nav--small__icon"></ion-icon>
    <a href="{{ url_for('users.list_users')}}" class="nav--small__link">List users</a>
  </li>
  <li class="nav--small__item">
    <ion-icon name="add-sharp" class="nav--small__icon"></ion-icon>
    <a href="{{ url_for('clubs.create_club')}}" class="nav--small__link">Create new club</a>
  </li>
  <li class="nav--small__item">
    <ion-icon name="list-sharp" class="nav--small__icon"></ion-icon>
    <a href="{{ url_for('clubs.list_clubs')}}" class="nav--small__link">List clubs</a>
  </li>
  <li class="nav--small__item">
    <ion-icon name="id-card-sharp" class="nav--small__icon"></ion-icon>
    <a href="{{ url_for('clubs.list_staff_and_companies', _anchor='tab1')}}" class="nav--small__link">Manage staff</a>
  </li>
</ul>

<script type="text/javascript">

function closeNav(id) {
  document.getElementById(id1).checked = false;
}

</script>
