{% extends "base.html" %}

{% block content %}
<div class="school-account">
  <!--<h2 class="h2">Account details</h2><a href="#" class="link-small">edit</a>
  <p class="school-account__item">School name:
    <span class="school-account__item--value">{{ school.name}}</span>
  </p>
  <p class="school-account__item">Logo filename:
    <span class="school-account__item--value">{{ school.logo}}</span>
  </p>
  <p class="school-account__item">Year groups:
    <span class="school-account__item--value">
      {% for yg in year_groups %}
        {{yg.name}}
      {% endfor %}
    </span>
  </p>
  <p class="school-account__item">Number of clubs on offer:
    <span class="school-account__item--value">0</span>
  </p>
  <p class="school-account__item">School website:
    <span class="school-account__item--value">{{ school.website}}</span>
  </p>
  <p class="school-account__item">Banner style:
    <span class="school-account__item--value">Background colour: {{ school.banner_colour}}</span>
    <span class="school-account__item--value">Font colour: {{ school.font_colour}}</span>
    <span class="school-account__item--value">Font: {{ school.font}}</span>
  </p>-->
  {% for s in school %}
  <p>{{s.id, s.name, s.logo, s.banner_colour, s.font}}</p>
  {% endfor %}

</div>


{% endblock %}
