{% extends "base.html" %}

{% block content %}

<script>
// this is here to refresh the page in case the user has changed the logo
// otherwise it only shows the old logo (even though new is stored)
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>

<div class="setup">
  <h2 class="h2">{{title}} school account details</h2>
  <p class="setup__comment"><sup>*</sup> Mandatory fields</p>

  <form method="POST" class="setup__form">
    {{ form.hidden_tag() }}<!-- to make sure we can accept the form -->
    <label for="font_colour">Pick colour for school name</label>
    <input type="color" id="font_colour" name="font_colour" value="">
    <label for="banner_colour">Pick main background colour for banner</label>
    <input type="color" id="banner_colour" name="banner_colour" value="">
    {{ form.font.label }} {{ form.font(class="setup__dropdown-field")}}
    <a href="{{ url_for('school.edit_step1')}}" class="btn">Back</a>
    {{ form.submit(class="btn") }}
  </form>

  <div class="setup__display-banner">
    <h2 class="h2">How your top banner will look</h2>
    <div class="setup__display-banner__box">
      <h3 class="h3">Clubs for {{ school.name }}</h3>
      <h4 class="h4">Return to school website</h4>
      {% if school.logo %}
      <img src="{{ url_for('static', filename='img/'+school.logo)}}" alt="school logo" class="logo--medium">
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}
