{% extends "base.html" %}

{% block content %}
<div class="setup">
  <h2 class="setup__title">{{title}} school account details</h2>
  <p class="setup__comment"><sup>*</sup> Mandatory fields</p>


  <form action="" method="POST"  class="form setup__form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}<!-- to make sure we can accept the form -->
    {{ form.name.label(class="form__label") }} {{ form.name(class="form__input")}}
    {{ form.summary.label(class="form__label") }} {{ form.summary(class="form__textarea")}}
    <div class="form__file">
      <label for="logo" class="form__file__label">
        <ion-icon name="cloud-upload-outline" class="form__file__icon"></ion-icon>Upload logo</label>
      <input type="file" name="logo" id="logo" class="form__file__input">

    </div>

    <!--{{ form.logo.label }} {{ form.name(class="setup__file-field")}}-->
    <label for="" class="form__label">Year groups you offer clubs to</label>
    <div class="form__checkbox">

    {% for yg in form.year_groups %}
        <div class="form__checkbox__group">
          {{yg(class="form__checkbox__field")}}
          {{yg.label(class="form__checkbox__label")}}

        </div>
    {% endfor %}
  </div>
    {{ form.school_website.label(class="form__label") }} {{ form.school_website(class="form__input")}}
    {{ form.submit(class="btn") }}
  </form>
</div>

{% endblock %}
