{% if ((club) and (club.at_school)) or (club==None) %}<p>checked</p>
<input type="radio" id="at_school" class="form__radio" name="location" value="at_school"  onclick="setFocus('at_school_input')"  checked>
{% else %}<p>not checked</p>
<input type="radio" id="at_school" class="form__radio" name="location" value="at_school"  onclick="setFocus('at_school_input')">
{% endif %}
<label for="at_school">
  {{ form.at_school_premises.label(class="form__label") }}
  {{ form.at_school_premises(class="form__input", id="at_school_input", onclick="checkRadio('at_school')", placeholder="Room 23b") }}
</label>
</div>
<div class="club__form__radio-and-text-group">
{% if (club)  and (club.at_school == False) %}<p>checked</p>
<input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  onclick="setFocus('off_school_input')"  checked="checked">
{% else %}<p>not checked</p>
<input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  onclick="setFocus('off_school_input')">

{% endif %}






<div class="club__form__radio-and-text-group">

  <input type="radio" id="at_school" class="form__radio" name="location" value="at_school" >

  <label for="at_school">
    {{ form.at_school_premises.label(class="form__label") }}
    {{ form.at_school_premises(class="form__input", id="at_school_input", onclick="checkRadio('at_school')", placeholder="Room 23b") }}
  </label>
</div>
<div class="club__form__radio-and-text-group">
  <input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  checked  >

  <label for="off_school">

    {{ form.off_school_premises.label(class="form__label") }}
    {{ form.off_school_premises(class="form__textarea", id="off_school_input", onclick="checkRadio('off_school')",
    placeholder="Art center,
Downton street,
Madeup Town,
AB1 2CD") }}
  </label>
