{% if ((club) and (club.at_school)) or (club==None) %}<p>checked</p>
<input type="radio" id="at_school" class="form__radio" name="location" value="at_school"  onclick="setFocus('at_school_input')"  checked>
{% else %}<p>not checked</p>
<input type="radio" id="at_school" class="form__radio" name="location" value="at_school"  onclick="setFocus('at_school_input')">
{% endif %}
<label for="at_school">
  {{ form.at_school_premises.label(class="form__label") }}
  {{ form.at_school_premises(class="form__input", id="at_school_input", onclick="checkRadio('at_school')", placeholder="Room 23b") }}
</label>
</div>
<div class="club__form__radio-and-text-group">
{% if (club)  and (club.at_school == False) %}<p>checked</p>
<input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  onclick="setFocus('off_school_input')"  checked="checked">
{% else %}<p>not checked</p>
<input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  onclick="setFocus('off_school_input')">

{% endif %}






<div class="club__form__radio-and-text-group">

  <input type="radio" id="at_school" class="form__radio" name="location" value="at_school" >

  <label for="at_school">
    {{ form.at_school_premises.label(class="form__label") }}
    {{ form.at_school_premises(class="form__input", id="at_school_input", onclick="checkRadio('at_school')", placeholder="Room 23b") }}
  </label>
</div>
<div class="club__form__radio-and-text-group">
  <input type="radio" id="off_school" class="form__radio" name="location" value="off_school"  checked  >

  <label for="off_school">

    {{ form.off_school_premises.label(class="form__label") }}
    {{ form.off_school_premises(class="form__textarea", id="off_school_input", onclick="checkRadio('off_school')",
    placeholder="Art center,
Downton street,
Madeup Town,
AB1 2CD") }}
  </label>


  <header class="header">

    {% if school.name %}
      <h1 class="header__title">
        School Club Information Manager <br>for {{school.name}}
      </h1>
    {% else %}
      <h1 class="header__title">
        Welcome to the <br>School Club information Manager
      </h1>
    {% endif %}

    {% if current_user.is_authenticated %}
      <a href="{{ url_for('users.logout')}}" class="header__link">Log out</a>
    {% endif %}
  </header>

  <!-- for  __init__.py -->

  # Setup for autoprefixer, to add automatically add browser prefixes to css
  # specify the bin path (optional), required only if not globally installed
  #assets.load_path = [os.path.join(app.root_path, 'static')]
  #assets.config['AUTOPREFIXER_BIN'] = os.path.join(app.root_path, 'node_modules', '.bin', 'postcss')
  #assets.config['AUTOPREFIXER_BROWSERS'] = ['> 1%', 'last 2 versions']

  '''css = Bundle('src/scss/main.scss',
               filters=['libsass', 'autoprefixer6'],
               output='dist/css/styles.css',
               depends='src/scss/*.scss')'''

  <!-- from base.html header -->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>-->

  <!-- club_form.html last section -->

  <fieldset class="club__form__section">
  <legend class="club__form__subheading">Description of club leader, company or staff</legend>
  <span class="club__form__grid__container">
  <fieldset class="cl ub__form__item--full">
    <legend class="comment">Enter details about the staff that will run the club</legend>

    <div class="club__form__subitem">
      <div class="club__form__radio-and-text-group">
        <input type="radio" id="new" class="form__radio" name="new_entry" value="new" onclick="showSubFormHideOther('new_entries', 'existing_dropdowns')" {% if not club %} checked {% endif %} >
        <label for="new" class="form__label--nomargin">
          New entry
        </label>
      </div>

      <div class="club__form__subitem__subitem" id="new_entries" {% if club %} style="display:none;" {% endif %}>
        <fieldset class="club__form big-top-margin">
          <legend class="comment">Is the new entry a person or company?</legend>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="person" class="form__radio" name="type_of_staff" value="person" onclick="showSubFormHideOther('person_form', 'company_form')" checked>
            <label for="person" class="form__label">
              Person
            </label>
          </div>
          <div class="club__form__radio-and-text-group">
            <input type="radio" id="company" class="form__radio" name="type_of_staff" value="company" onclick="showSubFormHideOther('company_form', 'person_form')">
            <label for="company" class="form__label">
              Company
            </label>
          </div>
        </fieldset>

        <fieldset class="person big-top-margin" id="person_form">
          <legend class="comment">Enter details about the new staff member</legend>
          {{ form.staff_name.label(class="form__label") }}
          {{ form.staff_name(class="form__input", placeholder="Ms Kahlo") }}
          {{ form.staff_email.label(class="form__label") }}
          {{ form.staff_email(class="form__input", placeholder="kahlo@email.com") }}
          {{ form.staff_description.label(class="form__label") }}
          {{ form.staff_description(class="form__textarea", placeholder="Ms Kahlo spends most of her time painting and is excited to be teaching a new generation of artists.") }}
        </fieldset>

        <fieldset class="company big-top-margin" id="company_form">
          <legend class="comment">Enter details about the new company</legend>
          {{ form.company_name.label(class="form__label") }}
          {{ form.company_name(class="form__input", placeholder="Arty Party") }}
          {{ form.company_email.label(class="form__label") }}
          {{ form.company_email(class="form__input", placeholder="info@artyparty.com") }}
          {{ form.company_website.label(class="form__label") }}
          {{ form.company_website(class="form__input", placeholder="www.artyparty.com") }}
          {{ form.company_description.label(class="form__label") }}
          {{ form.company_description(class="form__textarea", placeholder="Arty Party brings experienced staff in every art form to your schools to give children access to new techinques in painting, drawing, building and so much more, with fun and inspiring projects!") }}
        </fieldset>


      </div>

    </div>

    <div class="club__form__subitem">
      <div class="club__form__radio-and-text-group">
        <input type="radio" id="existing" class="form__radio" name="new_entry" value="existing" onclick="showSubFormHideOther('existing_dropdowns', 'new_entries')" {% if club %} checked {% endif %}>
        <label for="existing" class="form__label--nomargin">
          Staff or company already exists in the system
        </label>
      </div>

      <div class="club__form__subitem__subitem big-top-margin" id="existing_dropdowns" {% if club %} style="display:block;" {% endif %}>
        <div class="club__form__radio-and-text-group">
          <input type="radio" id="existing_staff" class="form__radio" name="existing_clubrunner" value="existing_staff"  {% if not club or (not club.ext_company_id)  %} checked {% endif %}>
          <label for="existing" class="form__label--nomargin">
            <div class="staff-dropdown">
              {{ form.staff.label(class="form__label") }}
              <div class="hide">
                <ion-icon name="chevron-down-outline" id="chevron-down"></ion-icon>
              </div>
              {{ form.staff(class="form__dropdown")}}
            </div>
        </div>
        <div class="club__form__radio-and-text-group">
          <input type="radio" id="existing_company" class="form__radio" name="existing_clubrunner" value="existing_company" {% if club and club.ext_company_id %} checked {% endif %}>
          <div class="companies-dropdown">
            {{ form.companies.label(class="form__label") }}
            <div class="hide">
              <ion-icon name="chevron-down-outline" id="chevron-down"></ion-icon>
            </div>
            {{ form.companies(class="form__dropdown")}}
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</span>
  </fieldset>


<!-- CREATE CLUB ITEMS FOR TESTING 3RD AUGUST-->












      <!--<input type="radio" id="existing_staff" name="existing_clubrunner" value="existing_staff">
      <label for="existing_staff">Staff</label>
      <input type="radio" id="existing_company" name="existing_clubrunner" value="existing_company">
      <label for="existing_company">Companies</label>-->

      <!-- list of staff -->

      <!-- list of companies -->
