{% extends "base.html" %}

{% block content %}

Name: {{name}}<br>
Start date: {{start_date}}<br>
End date: {{end_date}}<br>
Start time: {{start_time}}<br>
End time: {{end_time}}<br>
Location radio choice: {{location}}<br>
At school: {{at_school}}<br>
Off school: {{off_school}}<br>
Days: {{days}}<br>
Year groups: {{ygs}}<br>
Experience: {{exp}}<br>
Outfit: {{outfit}}<br>
Equipment: {{equipment}}<br>
How to book: {{book}}<br>
Teacher to contact: {{teacher}}<br>
Email to contact: {{email}}<br>
Call to contact: {{call}}<br>
Is the club free or does it cost to join? {{is_free}}<br>
How much is it? {{cost}}<br>
Photo: {{photo}}<br>
Description: {{description}}<br>
New entry? {{new_entry}}<br>
Type of new staff: {{type}} <br>
Name of new staff member: {{staff_name}}<br>
Email of new staff member: {{staff_email}}<br>
Describe the new staff member: {{staff_description}}<br>
Company name: {{comp_name}}<br>
Company email: {{comp_email}}<br>
Company website: {{comp_web}}<br>
Dompnay descrition: {{comp_des}}<br>
Existing clubrunner: {{in_system}}<br>
Existing staff: {{staff}}<br>
Existing Company: {{companies}}<br><br>
Pic: {{pic}}<br>










{% endblock %}
